body {

}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

header {
  padding-top:5px;
}
nav{
  display: flex;
  justify-content: space-between;
  margin: 5px;
  align-items: center;
  margin-right: 50px;
  margin-left: 50px;
}
.logoo {width: 140px;
  height: 60;

}
nav .menu{
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
nav .menu a{
  color: #000;
  text-decoration: none;
  list-style-type: none;
}
.btn{
  background-color: #30B868;
  border: none;
  padding: 16px 12px;
  border-radius:5px ;
  font-size: 16;
  font-weight: bold;
  align-items: center;
}
.forbutton{
  align-items: center;
  cursor: pointer;
}

#banner{
  
  background: url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: contain;
  justify-content: center;
  display: flex;
  align-items: center;
 
}
.banner-content{

}

.banner-content h1{
  color:#30B868;
  text-align: center;
  font-size: 60px;
  margin-bottom: 16px;

}
.banner-content p{
  text-align: center;
  color: white;
  font-size: 18px;
  margin-bottom: 32px;
}
.banner-content button{
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.twobtn{
  text-align: center;
  align-items: center;
  justify-content: center
}
.btnone{
  background-color: #30B868;
  border: none;
  padding: 16px 12px;
  border-radius:5px ;
  font-size: 16;
  font-weight: bold;
}
.btntwo{
  color: ;
  padding: 16px 12px;
  border-radius:5px ;
  font-size: 36;
  font-weight: bold;
  background-color: transparent;
  border:1 px solid;
}
.quote h2{
  color:black;
  font-size: 60px;
  text-align: center;
  font-weight: bold;
  margin-bottom: none;
}
.quote p{
  text-align: center;
}