body {

}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

header {
  padding-top:5px;
}
nav{
  display: flex;
  justify-content: space-between;
  margin: 5px;
  align-items: center;
  margin-right: 50px;
  margin-left: 50px;
}
.logoo {width: 140px;
  height: 60;

}
nav .menu{
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
nav .menu a{
  color: #000;
  text-decoration: none;
  list-style-type: none;
}
.btn{
  background-color: #30B868;
  border: none;
  padding: 16px 12px;
  border-radius:5px ;
  font-size: 16;
  font-weight: bold;
  align-items: center;
  cursor: pointer;
}
.btn:hover{
  background-color: #5ce86a;
}
.forbutton{
  align-items: center;
  cursor: pointer;
}

#banner{
  
  background: url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: contain;
  justify-content: center;
  display: flex;
  align-items: center;
 
}
.banner-content{

}
.color-white{
  color: white;
}
.banner-content h1{
  color:#30B868;
  text-align: center;
  font-size: 60px;
  margin-bottom: 16px;

}
.banner-content p{
  text-align: center;
  color: white;
  font-size: 18px;
  margin-bottom: 32px;
}
.banner-content button{
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.twobtn{
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 20px;
}
.btnone{
  background-color: #30B868;
  border: none;
  padding: 16px 12px;
  border-radius:5px ;
  font-size: 16;
  font-weight: bold;
  display: flex;
  cursor: pointer;
  
}
.btnone:hover{
  background-color: black;
}
.btntwo{
  color: ;
  padding: 16px 12px;
  border-radius:5px ;
  font-size: 36;
  font-weight: bold;
  background-color: transparent;
  border:1 px solid;
  cursor: pointer;
}
.btntwo:hover{
  background-color: #30B868;
}
.quote h2{
  color:black;
  font-size: 45px;
  text-align: center;
  font-weight: bold;
  margin-bottom: none;
}
.quote p{
  text-align: center;
}
#skills{
  padding-top: 44;
}
.skills-box{
  width: 85%;
  max-width: 1460px;
  margin: 0 auto;
  display: flex;
  gap: 24px;
}
.box{
 padding: 24px;
 max-width: 300px;
 text-align: center;
 align-items: center;
 background-color:#FFFFFF;
}
.box img{
  width: 17px;
  background-color: #e60505d1;
  border-radius: 50px;
  padding: 10px;
  height: 17px;

}
.skills-box .box{
  padding: 24px;
  box-shadow: 0 6px 50px 0 #00000027;
}
.box h3{
  min-height: 45px;
}
.box p{
  color: #627382;
}
#brain{
 display: flex;
 margin:0 auto;
 margin-top: 100px;
 width: 85%;
 max-width: 1460px;
 gap: 40px;
}

.brainer{

  max-width: 480px;
 
}
.info-brain{

 padding-top: 50px;

}
.brainer img{
width: 450px;
}
.info-brain h5{
  color: #30B868;
  font-size: 20px;
  font-weight: 500;
}
.info-brain h1{
  color: #001931;
}
.info-brain p{
  color: #627382;
  font-size: 15px;
  max-width: 500px;
}
.info-brain ul{
  margin-top: 20px;
  list-style: none;
  padding-left: 0px;
}
.check-list li{
  display: flex;
  gap:5px;
  font-size: 16px;
  font-weight: 400;
  color: #000000e7;
  margin-bottom: 7px;
}
#present{
  background-color:#F7F6F2;
  margin-top: 120px;
  text-align: center;
  margin-bottom: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
  max-width: 1460;
  width: 85%;
  align-items: center;
  margin-left: 80px;
}
.offer h1{
  font-size: 40px;
  font-weight: 700;
  color: #001931;
}
.offer p{
  color: #627382;
  font-weight: 400;
  font-size: 16px;
}
.offer button{
  background-color: #30B868;
  border: none;
  padding: 16px 24px 16px 12px;
  border-radius:5px ;
  font-size: 16;
  font-weight: bold;
  align-items: center;
  color: white;
  display: flex;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}
.offer button:hover{
  background-color: #042908;
}
.footerr{
  background-color: #001931;
  display: flex;
  justify-content: space-between;
}
.footer-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  
  width: 1400px;
}
.footer-logo img{
  width: 130px;
  height: 50px;
  padding-top: 40px;
  padding-bottom: 60px;
}
.footer-social{
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer-social img{
  width: 22px;
  height: 22px;
  background-color:white;
  border-radius: 50%;
}
.footer-social h6{
  color: white;
  font-weight: 600;
  font-size: 20px;
  margin: 0 0 10px 0;
}
.footer-soci{
  display: flex;
  gap: 16px;
  align-items: center;
  cursor: pointer;
}
.footerr-bottom{
  border: 1px solid;
  text-align: center;
  font-size: 12px;
  font-weight: 100;
  color: #FAFAFA;
  background-color: #001931;
 
}
